


<div class="container my-24 px-6 mx-auto">

  <!-- Section: Design Block -->
  <section class="mb-32 text-gray-200 text-center">

    <div class="grid gap-x-6 lg:gap-x-12 md:grid-cols-3">
      <div class="mb-24 md:mb-0">
        <div class="border rounded-lg shadow-lg h-full block bg-base-300">
          <div class="flex justify-center">
            <div class="flex justify-center" style="margin-top: -75px">
              <div class="avatar">
                <div class="w-40 rounded-full">
                  <img src="https://avatars.githubusercontent.com/u/88948653?v=4" />
                </div>
              </div>
            </div>
          </div>
          <div class="p-2">
            <h5 class="text-lg font-bold mb-4">Nathan Aruna</h5>
            <div class="badge badge-accent">Team Leader</div>
            <div class="badge badge-secondary">Programer</div>
            <div class="badge badge-primary">Mechanical Works</div>
            <h1></h1>
            <div class="badge badge-success">Accounting</div>
            <div class="p-1"></div>
            <div class="stat-desc">Team memebers short biography</div>
            <div class="stat-desc">will go here</div>
          </div>
        </div>
      </div>

      <div class="mb-24 md:mb-0">
        <div class="border rounded-lg shadow-lg h-full block bg-base-300">
          <div class="flex justify-center">
            <div class="flex justify-center" style="margin-top: -75px">
              <div class="avatar">
                <div class="w-40 rounded-full">
                  <img src="https://cdn.discordapp.com/attachments/809564572528279615/1045103467884204072/IMG_3495.png" />
                </div>
              </div>
            </div>
          </div>
          <div class="p-2">
            <div class="p-2">
              <h5 class="text-lg font-bold mb-4">
                Giancarlo Bocchino</h5>
              <div class="badge badge-accent">Team Leader</div>
              <div class="badge badge-primary">Mechanical Works</div>
              <div class="p-1"></div>
              <div class="stat-desc">Team memebers short biography</div>
              <div class="stat-desc">will go here</div>
            </div>
          </div>
        </div>
      </div>

      <div class="">
        <div class="border rounded-lg shadow-lg h-full block bg-base-300">
          <div class="flex justify-center">
            <div class="flex justify-center" style="margin-top: -75px">
              <img src="https://i5.walmartimages.ca/images/Enlarge/094/514/6000200094514.jpg" class="rounded-full mx-auto shadow-lg" alt=""
                style="width: 150px" />
            </div>
          </div>
          <div class="p-2">
            <div class="p-2">
              <h5 class="text-lg font-bold mb-4">Isabella Napoli
              </h5>
              <div class="badge badge-accent">Team Leader</div>
              <div class="badge badge-warning">General Management</div>
              <div class="p-1"></div>
              <div class="stat-desc">Team memebers short biography</div>
              <div class="stat-desc">will go here.</div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mb-32 text-gray-200  text-center">

    <div class="grid gap-x-6 lg:gap-x-12 md:grid-cols-3">
      <div class="mb-24 md:mb-0">
        <div class="border rounded-lg shadow-lg h-full block bg-base-300">
          <div class="flex justify-center">
            <div class="flex justify-center" style="margin-top: -75px">
              <img src="https://i5.walmartimages.ca/images/Enlarge/094/514/6000200094514.jpg" class="rounded-full mx-auto shadow-lg" alt=""
                style="width: 150px" />
            </div>
          </div>
          <div class="p-2">
            <h5 class="text-lg font-bold mb-4">
              Christos Velmachos</h5>
            <div class="badge badge-accent">Team Leader</div>
            <div class="badge badge-success">Accounting</div>
            <div class="badge badge-secondary">Programer</div>
            <h1></h1>
            <div class="badge badge-warning">General Management</div>
            <div class="p-1"></div>
            <div class="stat-desc">Team memebers short biography</div>
            <div class="stat-desc">will go here</div>
          </div>
        </div>
      </div>

      <div class="mb-24 md:mb-0">
        <div class="border rounded-lg shadow-lg h-full block bg-base-300">
          <div class="flex justify-center">
            <div class="flex justify-center" style="margin-top: -75px">
              <img src="https://i5.walmartimages.ca/images/Enlarge/094/514/6000200094514.jpg" class="rounded-full mx-auto shadow-lg" alt=""
                style="width: 150px" />
            </div>
          </div>
          <div class="p-2">
            <div class="p-2">
              <h5 class="text-lg font-bold mb-4">
                Giulia Di Biase</h5>
              <div class="badge badge-secondary">Programer</div>
              <div class="badge badge-warning">General Management</div>

              <div class="p-1"></div>
              <div class="stat-desc">Team memebers short biography</div>
              <div class="stat-desc">will go here</div>
            </div>
          </div>
        </div>
      </div>

      <div class="">
        <div class="border rounded-lg shadow-lg h-full block bg-base-300">
          <div class="flex justify-center">
            <div class="flex justify-center" style="margin-top: -75px">
              <div class="avatar">
                <div class="w-40 rounded-full">
                  <img src="https://cdn.discordapp.com/attachments/809537092332945418/1045147506935353344/IMG_720112.jpg" />
                </div>
              </div>
            </div>
          </div>
          <div class="p-2">
            <div class="p-2">
              <h5 class="text-lg font-bold mb-4">Alexander Nikopoulos</h5>
              <div class="badge badge-secondary">Programer</div>
              <div class="badge badge-primary">Mechanical Works</div>
              <div class="p-1"></div>
              <div class="stat-desc">Team memebers short biography</div>
              <div class="stat-desc">will go here</div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mb-32 text-gray-200  text-center">

    <div class="grid gap-x-6 lg:gap-x-12 md:grid-cols-3">
      <div class="mb-24 md:mb-0">
        <div class="border rounded-lg shadow-lg h-full block bg-base-300">
          <div class="flex justify-center">
            <div class="flex justify-center" style="margin-top: -75px">
              <img src="https://i5.walmartimages.ca/images/Enlarge/094/514/6000200094514.jpg" class="rounded-full mx-auto shadow-lg" alt=""
                style="width: 150px" />
            </div>
          </div>
          <div class="p-2">
            <h5 class="text-lg font-bold mb-4">

Spiro Deegan</h5>
            <div class="badge badge-accent">Team Leader</div>
            <div class="badge badge-secondary">Programer</div>
            <div class="badge badge-primary">Mechanical Works</div>
            <div class="p-1"></div>
            <div class="stat-desc">Team memebers short biography</div>
            <div class="stat-desc">will go here</div>
          </div>
        </div>
      </div>

      <div class="mb-24 md:mb-0">
        <div class="border rounded-lg shadow-lg h-full block bg-base-300">
          <div class="flex justify-center">
            <div class="flex justify-center" style="margin-top: -75px">
              <div class="avatar">
                <div class="w-40 rounded-full">
                  <img src="https://cdn.discordapp.com/attachments/920094296701566989/1038919681324630056/unknown.png" />
                </div>
              </div>
            </div>
          </div>
          <div class="p-2">
            <div class="p-2">
              <h5 class="text-lg font-bold mb-4">Daniel Gonçalves</h5>
              <div class="badge badge-secondary">Programer</div>
              <div class="badge badge-primary">Mechanical Works</div>
              <div class="p-1"></div>
              <div class="stat-desc">Team memebers short biography</div>
              <div class="stat-desc">will go here</div>
            </div>
          </div>
        </div>
      </div>

      <div class="">
        <div class="border rounded-lg shadow-lg h-full block bg-base-300">
          <div class="flex justify-center">
            <div class="flex justify-center" style="margin-top: -75px">
              <div class="avatar">
                <div class="w-40 rounded-full">
                  <img src="https://cdn.discordapp.com/attachments/765675287106420767/1046516302937866301/IMG_1313.jpg" />
                </div>
              </div>
            </div>
          </div>
          <div class="p-2">
            <div class="p-2">
              <h5 class="text-lg font-bold mb-4">Konstantinos Christodoulakis
              </h5>
              <div class="badge badge-secondary">Programer</div>
              <div class="badge badge-warning">General Management</div>
              <h1></h1>
              <div class="badge badge-success">Accounting</div>

              <div class="p-1"></div>
              <div class="stat-desc">Team memebers short biography</div>
              <div class="stat-desc">will go here</div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mb-32 text-gray-200  text-center">

    <div class="grid gap-x-6 lg:gap-x-12 md:grid-cols-3">
      <div class="mb-24 md:mb-0">
        <div class="border rounded-lg shadow-lg h-full block bg-base-300">
          <div class="flex justify-center">
            <div class="flex justify-center" style="margin-top: -75px">
              <img src="https://i5.walmartimages.ca/images/Enlarge/094/514/6000200094514.jpg" class="rounded-full mx-auto shadow-lg" alt=""
                style="width: 150px" />
            </div>
          </div>
          <div class="p-2">
            <h5 class="text-lg font-bold mb-4">

              Tommy Abraham</h5>
            <div class="badge badge-accent">Team Leader</div>
            <div class="badge badge-secondary">Programer</div>
            <div class="badge badge-primary">Mechanical Works</div>
            <div class="p-1"></div>
            <div class="stat-desc">Team memebers short biography</div>
            <div class="stat-desc">will go here</div>
          </div>
        </div>
      </div>

      <div class="mb-24 md:mb-0">
        <div class="border rounded-lg shadow-lg h-full block bg-base-300">
          <div class="flex justify-center">
            <div class="flex justify-center" style="margin-top: -75px">
              <img src="https://i5.walmartimages.ca/images/Enlarge/094/514/6000200094514.jpg" class="rounded-full mx-auto shadow-lg" alt=""
                style="width: 150px" />
            </div>
          </div>
          <div class="p-2">
            <div class="p-2">
              <h5 class="text-lg font-bold mb-4">Noah Collin</h5>
              <div class="badge badge-accent">Team Leader</div>
              <div class="badge badge-secondary">Programer</div>
              <div class="badge badge-primary">Mechanical Works</div>
              <div class="p-1"></div>
              <div class="stat-desc">Team memebers short biography</div>
              <div class="stat-desc">will go here</div>
            </div>
          </div>
        </div>
      </div>

      <div class="">
        <div class="border rounded-lg shadow-lg h-full block bg-base-300">
          <div class="flex justify-center">
            <div class="flex justify-center" style="margin-top: -75px">
              <img src="https://i5.walmartimages.ca/images/Enlarge/094/514/6000200094514.jpg" class="rounded-full mx-auto shadow-lg" alt=""
                style="width: 150px" />
            </div>
          </div>
          <div class="p-2">
            <div class="p-2">
              <h5 class="text-lg font-bold mb-4">Nicholas  Maganas</h5>
              <div class="badge badge-accent">Team Leader</div>
              <div class="badge badge-secondary">Programer</div>
              <div class="badge badge-primary">Mechanical Works</div>
              <div class="p-1"></div>
              <div class="stat-desc">Team memebers short biography</div>
              <div class="stat-desc">will go here</div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->

</div>
<!-- Container for demo purpose -->
