<meta name="description" content="Laval Senior Academy's Robotics Team Memebers">
<meta name="author" content="Nathan Aruna">

<body>
  <div id="galaxy" class="container">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
  </div>
<div class="container my-24 px-6 mx-auto">
  <section class="mb-32 text-gray-200 text-center">
<div class="grid gap-x-6 lg:gap-x-12 md:grid-cols-3">
      <div class="mb-24 md:mb-0">
        <div class="border rounded-lg shadow-lg h-full block bg-base-300">
          <div class="flex justify-center">
            <div class="flex justify-center" style="margin-top: -75px">
              <div class="avatar">
                <div class="w-40 rounded-full">
                  <img src="https://avatars.githubusercontent.com/u/88948653?v=4" alt="Nathan Aruna"/>
                </div>
              </div>
            </div>
          </div>
          <div class="p-2">
            <h5 class="text-lg font-bold mb-4">Nathan Aruna</h5>
            <div class="badge badge-accent">Team Leader</div>
            <div class="badge badge-secondary">Programmer</div>
            <div class="badge badge-primary">Mechanical Works</div>
            <h1></h1>
            <div class="badge badge-success">Accounting</div>
            <div class="p-1"></div>
            <div class="stat-desc">Team memebers short biography</div>
            <div class="stat-desc">will go here</div>
          </div>
        </div>
      </div>
      <div class="mb-24 md:mb-0">
        <div class="border rounded-lg shadow-lg h-full block bg-base-300">
          <div class="flex justify-center">
            <div class="flex justify-center" style="margin-top: -75px">
              <div class="avatar">
                <div class="w-40 rounded-full">
                  <img src="assets/GiancarloBocchino.png" alt="Giancarlo Bocchino" />
                </div>
              </div>
            </div>
          </div>
          <div class="p-2">
            <div class="p-2">
              <h5 class="text-lg font-bold mb-4">
                Giancarlo Bocchino</h5>
              <div class="badge badge-accent">Team Leader</div>
              <div class="badge badge-primary">Mechanical Works</div>
              <div class="p-1"></div>
              <div class="stat-desc">Team memebers short biography</div>
              <div class="stat-desc">will go here</div>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="border rounded-lg shadow-lg h-full block bg-base-300">
          <div class="flex justify-center">
            <div class="flex justify-center" style="margin-top: -75px">
              <div class="avatar">
                <div class="w-40 rounded-full">
                  <img src="assets/IsabellaNapoli.png" alt="Isabella Napoli" />
                </div>
              </div>
            </div>
          </div>
          <div class="p-2">
            <div class="p-2">
              <h5 class="text-lg font-bold mb-4">Isabella Napoli
              </h5>
              <div class="badge badge-accent">Team Leader</div>
              <div class="badge badge-warning">General Management</div>
              <div class="p-1"></div>
              <div class="stat-desc">Team memebers short biography</div>
              <div class="stat-desc">will go here.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mb-32 text-gray-200  text-center">
    <div class="grid gap-x-6 lg:gap-x-12 md:grid-cols-3">
      <div class="mb-24 md:mb-0">
        <div class="border rounded-lg shadow-lg h-full block bg-base-300">
          <div class="flex justify-center">
            <div class="flex justify-center" style="margin-top: -75px">
              <div class="avatar">
                <div class="w-40 rounded-full">
                  <img src="assets/ChristosVelmachos.jpg" alt="Christos Velmachos" />
                </div>
              </div>
            </div>
          </div>
          <div class="p-2">
            <h5 class="text-lg font-bold mb-4">
              Christos Velmachos</h5>
            <div class="badge badge-accent">Team Leader</div>
            <div class="badge badge-success">Accounting</div>
            <div class="badge badge-secondary">Programmer</div>
            <h1></h1>
            <div class="badge badge-warning">General Management</div>
            <div class="p-1"></div>
            <div class="stat-desc">Team memebers short biography</div>
            <div class="stat-desc">will go here</div>
          </div>
        </div>
      </div>
      <div class="mb-24 md:mb-0">
        <div class="border rounded-lg shadow-lg h-full block bg-base-300">
          <div class="flex justify-center">
            <div class="flex justify-center" style="margin-top: -75px">
              <div class="avatar">
                <div class="w-40 rounded-full">
                  <img src="assets/GiuliaDiBiase.png" alt="Giulia Di Biase" />
                </div>
              </div>
            </div>
          </div>
          <div class="p-2">
            <div class="p-2">
              <h5 class="text-lg font-bold mb-4">
                Giulia Di Biase</h5>
              <div class="badge badge-secondary">Programmer</div>
              <div class="badge badge-warning">General Management</div>
              <div class="p-1"></div>
              <div class="stat-desc">Team memebers short biography</div>
              <div class="stat-desc">will go here</div>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="border rounded-lg shadow-lg h-full block bg-base-300">
          <div class="flex justify-center">
            <div class="flex justify-center" style="margin-top: -75px">
              <div class="avatar">
                <div class="w-40 rounded-full">
                  <img src="assets/AlexanderNikopoulos.jpg" alt="Alexander Nikopoulos" />
                </div>
              </div>
            </div>
          </div>
          <div class="p-2">
            <div class="p-2">
              <h5 class="text-lg font-bold mb-4">Alexander Nikopoulos</h5>
              <div class="badge badge-secondary">Programmer</div>
              <div class="badge badge-primary">Mechanical Works</div>
              <div class="p-1"></div>
              <div class="stat-desc">Team memebers short biography</div>
              <div class="stat-desc">will go here</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mb-32 text-gray-200  text-center">
    <div class="grid gap-x-6 lg:gap-x-12 md:grid-cols-3">
      <div class="mb-24 md:mb-0">
        <div class="border rounded-lg shadow-lg h-full block bg-base-300">
          <div class="flex justify-center">
            <div class="flex justify-center" style="margin-top: -75px">
              <div class="avatar">
                <div class="w-40 rounded-full">
                  <img src="assets/Cristian Manuel Alvarez.png" alt="Christos Velmachos" />
                </div>
              </div>
            </div>
          </div>
          <div class="p-2">
            <h5 class="text-lg font-bold mb-4">
              Cristian Manuel Alvarez</h5>

            <div class="badge badge-primary">Mechanical Works</div>

            <div class="badge badge-secondary">Programmer</div>

            <div class="p-1"></div>
            <div class="stat-desc">Team memebers short biography</div>
            <div class="stat-desc">will go here</div>
          </div>
        </div>
      </div>
      <div class="mb-24 md:mb-0">
        <div class="border rounded-lg shadow-lg h-full block bg-base-300">
          <div class="flex justify-center">
            <div class="flex justify-center" style="margin-top: -75px">
              <div class="avatar">
                <div class="w-40 rounded-full">
                  <img src="assets/Chad Pretelin Carranza.jpg" alt="Giulia Di Biase" />
                </div>
              </div>
            </div>
          </div>
          <div class="p-2">
            <div class="p-2">
              <h5 class="text-lg font-bold mb-4">
                Chad Pretelin Carranza
</h5>
<div class="badge badge-primary">Mechanical Works</div>
<div class="badge badge-warning">General Management</div>
              <div class="p-1"></div>
              <div class="stat-desc">Team memebers short biography</div>
              <div class="stat-desc">will go here</div>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="border rounded-lg shadow-lg h-full block bg-base-300">
          <div class="flex justify-center">
            <div class="flex justify-center" style="margin-top: -75px">
              <div class="avatar">
                <div class="w-40 rounded-full">
                  <img src="assets/AlexanderNikopoulos.jpg" alt="Alexander Nikopoulos" />
                </div>
              </div>
            </div>
          </div>
          <div class="p-2">
            <div class="p-2">
              <h5 class="text-lg font-bold mb-4">Alexander Nikopoulos</h5>
              <div class="badge badge-secondary">Programmer</div>
              <div class="badge badge-primary">Mechanical Works</div>
              <div class="p-1"></div>
              <div class="stat-desc">Team memebers short biography</div>
              <div class="stat-desc">will go here</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mb-32 text-gray-200  text-center">
    <div class="grid gap-x-6 lg:gap-x-12 md:grid-cols-3">
      <div class="mb-24 md:mb-0">
        <div class="border rounded-lg shadow-lg h-full block bg-base-300">
          <div class="flex justify-center">
            <div class="flex justify-center" style="margin-top: -75px">
              <div class="avatar">
                <div class="w-40 rounded-full">
                  <img src="assets/SpiroDeegan.jpg" alt="Spiro Deegan" />
                </div>
              </div>
            </div>
          </div>
          <div class="p-2">
            <h5 class="text-lg font-bold mb-4">
Spiro Deegan</h5>
            <div class="badge badge-secondary">Programmer</div>
            <div class="badge badge-primary">Mechanical Works</div>
            <div class="p-1"></div>
            <div class="stat-desc">Team memebers short biography</div>
            <div class="stat-desc">will go here</div>
          </div>
        </div>
      </div>
      <div class="mb-24 md:mb-0">
        <div class="border rounded-lg shadow-lg h-full block bg-base-300">
          <div class="flex justify-center">
            <div class="flex justify-center" style="margin-top: -75px">
              <div class="avatar">
                <div class="w-40 rounded-full">
                  <img src="assets/DanielGonçalves.png" alt="Daniel Gonçalves"/>
                </div>
              </div>
            </div>
          </div>
          <div class="p-2">
            <div class="p-2">
              <h5 class="text-lg font-bold mb-4">Daniel Gonçalves</h5>
              <div class="badge badge-secondary">Programmer</div>
              <div class="badge badge-primary">Mechanical Works</div>
              <div class="p-1"></div>
              <div class="stat-desc">Team memebers short biography</div>
              <div class="stat-desc">will go here</div>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="border rounded-lg shadow-lg h-full block bg-base-300">
          <div class="flex justify-center">
            <div class="flex justify-center" style="margin-top: -75px">
              <div class="avatar">
                <div class="w-40 rounded-full">
                  <img src="assets/KonstantinosChristodoulakis.jpg" alt="Konstantinos Christodoulakis" />
                </div>
              </div>
            </div>
          </div>
          <div class="p-2">
            <div class="p-2">
              <h5 class="text-lg font-bold mb-4">Konstantinos Christodoulakis
              </h5>
              <div class="badge badge-secondary">Programmer</div>
              <div class="badge badge-warning">General Management</div>
              <h1></h1>
              <div class="badge badge-success">Accounting</div>

              <div class="p-1"></div>
              <div class="stat-desc">Team memebers short biography</div>
              <div class="stat-desc">will go here</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mb-32 text-gray-200  text-center">
    <div class="grid gap-x-6 lg:gap-x-12 md:grid-cols-3">
      <div class="mb-24 md:mb-0">
        <div class="border rounded-lg shadow-lg h-full block bg-base-300">
          <div class="flex justify-center">
            <div class="flex justify-center" style="margin-top: -75px">
              <div class="avatar">
                <div class="w-40 rounded-full">
                  <img src="assets/TommyAbraham.jpg" alt="Tommy Abraham"/>
                </div>
              </div>
            </div>
          </div>
          <div class="p-2">
            <h5 class="text-lg font-bold mb-4">
              Tommy Abraham</h5>
            <div class="badge badge-secondary">Programmer</div>
            <div class="badge badge-primary">Mechanical Works</div>
            <div class="p-1"></div>
            <div class="stat-desc">Team memebers short biography</div>
            <div class="stat-desc">will go here</div>
          </div>
        </div>
      </div>
      <div class="mb-24 md:mb-0">
        <div class="border rounded-lg shadow-lg h-full block bg-base-300">
          <div class="flex justify-center">
            <div class="flex justify-center" style="margin-top: -75px">
              <img src="https://i5.walmartimages.ca/images/Enlarge/094/514/6000200094514.jpg" class="rounded-full mx-auto shadow-lg" alt=""
                style="width: 150px" />
            </div>
          </div>
          <div class="p-2">
            <div class="p-2">
              <h5 class="text-lg font-bold mb-4">Noah Collin</h5>
              <div class="badge badge-secondary">Programmer</div>
              <div class="badge badge-primary">Mechanical Works</div>
              <div class="p-1"></div>
              <div class="stat-desc">Team memebers short biography</div>
              <div class="stat-desc">will go here</div>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="border rounded-lg shadow-lg h-full block bg-base-300">
          <div class="flex justify-center">
            <div class="flex justify-center" style="margin-top: -75px">
              <img src="https://i5.walmartimages.ca/images/Enlarge/094/514/6000200094514.jpg" class="rounded-full mx-auto shadow-lg" alt=""
                style="width: 150px" />
            </div>
          </div>
          <div class="p-2">
            <div class="p-2">
              <h5 class="text-lg font-bold mb-4">Nicholas  Maganas</h5>
              <div class="badge badge-secondary">Programmer</div>
              <div class="badge badge-primary">Mechanical Works</div>
              <div class="p-1"></div>
              <div class="stat-desc">Team memebers short biography</div>
              <div class="stat-desc">will go here</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</body>
