<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
    appId: '0CH87VWEB5',
    apiKey: 'ff514757519bb0e7e027d5cb3b4dc961',
    siteId: '9c342556-6632-4d01-b011-dd1c007fabaa',
    branch: 'master',
    selector: 'div#search',
  });
</script>

<div class="flex flex-row overflow-auto scrollbar-hide" >
  <div class="w-full bg-main-gray overflow-auto scrollbar-hide">
  <app-topnav class="w-full overflow-hidden" *ngIf="showNav"></app-topnav>
  <div class="flex flex-row overflow-hidden">
    <div class="w-full overflow-hidden">
      <router-outlet class="overflow-auto scrollbar-hide" *ngIf="showNav"></router-outlet>
      <app-footer class="overflow-auto scrollbar-hide" *ngIf="showNav"></app-footer>
    </div>
  </div>

<div *ngIf="!showNav">
  <router-outlet ></router-outlet>
  <app-footer></app-footer>

</div>
