<div class="p-2">
<div class="navbar  border bg-base-300 rounded-2xl">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
      </label>
      <ul tabindex="0" class="menu border menu-compact dropdown-content mt-3 p-2 shadow bg-base-300 rounded-box w-52">
        <li><a href="/home">🏠 Home</a></li>
        <li><a href="/team-members">🧑‍🤝‍🧑 Team Memebers </a></li>
        <li><a href="/competitions">⚔️ Competitions </a></li>
        <li><a href="/projects">📌 Projects </a></li>
        <li><a href="/sponsors">🚀 Sponsors</a></li>
        <li><a href="/about">ℹ About Us</a></li>
        <li><a href="https://lsa.schoolqc.ca/">🌐 Laval Senior Academy</a></li>

        
      </ul>
    </div>
  </div>
  <div class="navbar-center">
    <a href="/home" class="btn btn-ghost stat-value">LSA R⚙️botics</a>
  </div>
  <div class="navbar-end">

    </div>
  </div>
</div>
