<meta name="description" content="Laval Senior Academy's Robotics Team Landing Page">
<meta name="author" content="Nathan Aruna">

<div id="galaxy" class="container">
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>
</div>
<div class="hero min-h-screen" style="background-image: url(https://d.newsweek.com/en/full/751503/abc.jpg?w=1600&h=900&q=88&f=ac7efb76a8206ee5fb66a0040ba8a3ad);">

  <div class="hero-overlay bg-opacity-90"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <span class="typed-element mb-5 text-4xl font-bold"></span>
      <h1>‎ </h1>
      <p class=" mb-5">Established in late 2022, LSA Robotics takes  pride in  mechanical and technological advancements.</p>
      <a  href="/home">
        <button  class="btn btn-info">Learn More</button>
      </a>
    </div>
  </div>
</div>
