<meta name="description" content="Laval Senior Academy's Robotics Team Landing Page">
<div class="hero min-h-screen" style="background-image: url(http://www.swlauriersb.qc.ca/schools/llhs/_pages/content/LSHS_LLHS/LSHS_LLHS%2031.jpg);">
  <div class="hero-overlay bg-opacity-90"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <span class="typed-element mb-5 text-4xl font-bold"></span>
      <h1>‎ </h1>
      <p class=" mb-5">Established in late 2022, LSA Robotics takes  pride in  mechanical and technological advancements.</p>
      <a  href="/home">
        <button  class="btn btn-info">Learn More</button>
      </a>
    </div>
  </div>
</div>
