<meta name="description" content="Laval Senior Academy's Robotics Team">


<div class="hero min-h-screen" style="background-image: url(https://me.vt.edu/content/me_vt_edu/en/research/treclab/_jcr_content/article-image.transform/m-medium/image.jpg);">
  <div class="hero-overlay bg-opacity-90"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">LSA R⚙️BOTICS</h1>
      <p class="mb-5">Established late 2022, LSA Robotics takes pride in <br> mechanical and technological advancements.  <br>"The Dream is Alive"  - John Young</p>
      <a  href="/home">
        <button  class="btn btn-info">Learn More</button>
      </a>
    </div>
  </div>
</div>
