
<body>
  <div id="galaxy" class="container">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
  </div>

<div class="flex justify-center px-4 py-16 bg-base-100">
  <div>
    <div class="flex flex-row">
      <h1 class="text-5xl font-bold">Our Mission 🎯</h1>
    </div>
    <p class="py-6">Our mission is to technologically advance the students of Laval Senior
      Academy by creating a progressive
      <br>  workspace. Collaboration is key that's why we have established a solid workflow between
      <br>
      all departments in the LSA Robotics team. We plan to put our knowledge to the test by competing in
      <br>
      in various robotic challenges. We hope for nothing but success and greatness.
    </p>

    <a href="/our-mission">
      <button class="btn btn-primary">Read More</button>
    </a>
  </div>
</div>

<div class="flex justify-center px-4 py-16 bg-base-100">
  <div>
    <div class="flex flex-row">
      <h1 class="text-5xl font-bold">Want To Support Us? </h1>
    </div>
    <p class="py-6">Any form of support whether its advice, financial support, hardware, etc is all helpful to our cause and
      <br> mission. Further details on how you (a company or individual) can support Laval Senior Academy Robotics

      <br>
      .</p>
      <a href="/sponsor-info">
    <button class="btn btn-primary">Learn More</button>
  </a>
  </div>
</div>

<div class="flex justify-center px-4 py-16 bg-base-100">
  <div>
    <div class="flex flex-row">
      <h1 class="text-5xl font-bold">Software We Use 💻 </h1>
    </div>
    <p class="py-3">
      <br> We uses a variety of software to create our projects. A list of the software we use can be seen below: ‎  ‎  ‎  ‎  ‎  ‎  ‎ <br> Every piece of software has its free alternatives that can achieve similar results.

    </p>
    <a href="/software-list">
      <button class="btn btn-primary">List of Software</button>
    </a>
  </div>
</div>





<div class="flex justify-center px-4 py-16 bg-base-100">
  <div>
    <div class="flex flex-row">
      <h1 class="text-5xl font-bold">How To Contact ☎️</h1>
    </div>

    <div class="p-5"></div>

    <div class="mockup-code">
      <pre data-prefix=">" class="text-success"><code>Email: admin@lsarobtics.ca</code></pre>
      <pre data-prefix=">" class="text-success"><code>Phone: 514 638-7871</code></pre>
      <pre data-prefix=">" class="text-success"><code>Address: 3200 Bd du Souvenir O, Laval, Quebec H7V 1W9</code></pre>
      <pre data-prefix=">" class="text-warning"><code>............................................................................</code></pre>

    </div>

    <p class="py-6">
      .</p>
    
  </div>
</div>


</body>
