<div class="flex justify-center px-4 py-16 bg-base-100">
  <div>
    <div class="flex flex-row">
      <h1 class="text-5xl font-bold">Our Mission 🎯</h1>
    </div>
    <p class="py-6">Our mission is to technologically advance the students of Laval Senior
      Academy by creating
      <br> a progressive workspace. Collaboration is key that's why we have established a solid workflow between
      <br>
      all departments in the LSA Robotics team. We plan to put our knowledge to the test by competing in
      <br>
      in various robotic challenges. We hope for nothing but success and greatness...
    </p>

    <a href="/our-mission">
      <button class="btn btn-primary">Read More</button>
    </a>
  </div>
</div>

<div class="flex justify-center px-4 py-16 bg-base-100">
  <div>
    <div class="flex flex-row">
      <h1 class="text-5xl font-bold">Software We Use 💻</h1>
    </div>



    <p class="py-3">
      <br> We use a variety of software to create our projects. A list of the software we use can be seen below: ‎ ‎ ‎ ‎
      ‎
    </p>
    <a href="/software-list">
      <button class="btn btn-primary">List of Software</button>
    </a>
  </div>
</div>



<div class="flex justify-center px-4 py-16 bg-base-100">
  <div>
    <div class="flex flex-row">
      <h1 class="text-5xl font-bold">Our Facilities 🧰</h1>
    </div>
    <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
      quasi.
      <br> In deleniti eaque aut repudiandae et a id nisi. Provident cupiditate voluptatem et in. Quaerat fugiat ut
      <br>
      assumenda excepturi exercitationem quasi.</p>
    <button class="btn btn-primary">Read More</button>
  </div>
</div>

<div class="flex justify-center px-4 py-16 bg-base-100">
  <div>
    <div class="flex flex-row">
      <h1 class="text-5xl font-bold">How to Contact ☎️</h1>
    </div>
    <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
      quasi.
      <br> In deleniti eaque aut repudiandae et a id nisi. Provident cupiditate voluptatem et in. Quaerat fugiat ut
      <br>
      assumenda excepturi exercitationem quasi.</p>
    <button class="btn btn-primary">Read More</button>
  </div>
</div>


